@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
    color: rgba(0, 0, 0,1);
}


div#interface {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

header#cabecalho img#icone {
    position: absolute;
    left: 800px;
    top: 60px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url(../imagens/glass-logo-peq.jpg) no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: Arial, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

header#cabecalho h2 {
    font-family: Arial, sans-serif;
    color: #888888;
    font-size: 15pt;
}

/*FORMATAÇÃO DE IMAGENS COM LEGENDAS*/
figure.foto-legenda {
    position: relative;
    border: 8px solid red;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    height: 100%;
    width: 100% ;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda figcaption:hover {
    opacity: 1;
}

/*FORMATAÇÃO DO MENU*/

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 500px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
    transition: 0.5ms;
}

nav#menu a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

