@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsla(165, 81%, 93%, 0.5);
    color: rgba(0, 0, 0,1);
}
p {
    text-align: justify;
    text-indent: 50px;
}

/*FORMATAÇÃO DE IMAGENS COM LEGENDAS*/
figure.foto-legenda {
    position: relative;
    border: 8px solid red;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    height: 100%;
    width: 100% ;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda figcaption:hover {
    opacity: 1;
}

/*FORMATAÇÃO DO MENU*/

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 300px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
}

nav#menu h1 {
    display: none;
}